@font-face {
  font-family: "Nasalization";
  src: url("./fonts/nasalization-rg.otf") format("opentype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nasalization";
  text-decoration: none;
}

body {
  background-image: url("https://img.freepik.com/premium-photo/stars-galaxy-outer-space-sky-night-universe-black-starry-shiny-starfield_146539-1356.jpg");
  background-size: 42%;
}

.title {
  width: 307px;
  height: auto;
  padding-top: 4rem;
  padding-left: 4rem;

  flex-shrink: 0;
  color: rgba(255, 255, 255, 0.85);
  text-shadow: 0px 0px 12.585px #000;
  font-size: 46.904px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 4.5px;

  cursor: pointer;
  transition: 0.2s;
}

.title:active,
.title:focus,
.title:hover {
  text-shadow: 0px 0px 60px rgba(255, 255, 255, 0.7);
}

.login-container {
  display: flex;
  flex-direction: column;
  width: 50vw;
  min-height: 100vh;
  min-width: fit-content;
  /* height: 100%; */
  flex-shrink: 0;
  background: linear-gradient(
    180deg,
    rgba(44, 52, 58, 0.41) -46.36%,
    #040507 94.48%
  );
  box-shadow: 0px 0px 45.8px 50px rgba(0, 0, 0, 0.6);
}

#registrationForm {
  padding-top: 5rem;
}

.login-field {
  padding: 1rem 12rem 1rem 4rem;
  position: relative;
}

.login-input {
  border: none;
  font-size: 16px;
  border-bottom: 2px solid #ffffff80;
  color: #fff;
  background: none;
  padding: 10px;
  padding-left: 12px;
  font-weight: 400;
  min-width: 100%;
  transition: 0.2s;
}

.login-input:active,
.login-input:focus,
.login-input:hover {
  outline: none;
  border-bottom-color: #ffffff;
}

#password {
  margin-bottom: 1rem;
}

#showpass {
  padding: 0 10px 0 10px;
  color: rgba(255, 255, 255, 0.8);
}

#showbox {
  transform: scale(1.25); /* Adjust the scale value as needed */
  cursor: pointer;
  transition: 0.2s;
}

#showbox:checked {
  transform: scale(1.5); /* Adjust the scale value as needed */
}

#password-field {
  padding-bottom: 0;
}
.password-message {
  color: rgba(255, 255, 255, 0.83);
  margin: 0 0 0 4rem;
  padding-left: 10px;
  transition: 0.2s;
}

#signupResult {
  margin: 0 0 0 4rem;
  padding-left: 10px;
  /* transition: 0.2s; */
}

.buttons {
  padding: 1rem 0 0 4rem;
  width: 100%;
  /* height: 100%; */
}

.signup-button {
  /*positioning*/
  width: 30%;
  height: 60px;
  flex-shrink: 0;
  border-bottom: 1px solid #fff;
  background: linear-gradient(
    180deg,
    rgba(217, 217, 217, 0.5) -75.69%,
    rgba(217, 217, 217, 0) 143.75%
  );
  box-shadow: 0px 0px 53.8px 1px rgba(255, 255, 255, 0.062);

  /* typography */
  color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  cursor: pointer;
  transition: 0.2s;
}

.signup-button:active,
.signup-button:focus,
.signup-button:hover {
  box-shadow: 0px 0px 53.8px 1px rgba(255, 255, 255, 0.3);
  text-decoration: underline;
}

#login-message {
  color: rgba(255, 255, 255, 0.83);
  padding-left: 10px;
  margin: 2rem 0 4rem 0;
}

#login-link {
  color: rgb(255, 255, 255);
  text-decoration: underline;
  transition: 0.2s;
}

#login-link:active,
#login-link:focus,
#login-link:hover {
  text-shadow: 0px 0px 20px rgba(255, 255, 255, 1);
}

/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #00000000;
}
::-webkit-scrollbar-thumb {
  background: #747474dc;
}
::-webkit-scrollbar-thumb:hover {
  background: #b8b8b8;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #555;
}
