@font-face {
  font-family: "Nasalization";
  src: url("./fonts/nasalization-rg.otf") format("opentype");
} 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nasalization", sans-serif;
  text-decoration: none;
  color: white;
}
body {
  background: linear-gradient(90deg, #ecebff, #2c3c3d);
  background-image: url("https://img.freepik.com/premium-photo/stars-galaxy-outer-space-sky-night-universe-black-starry-shiny-starfield_146539-1356.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #FFFFFF;
}


.nav-div{
  display: flex; align-items: center; justify-content: flex-start;
  width: 100%;

}
.intro a{
  font-size: 40px;  color: white;
}

button{
  background-color: black; 
  /* margin-left: 10px;  */
  border-radius: 10px; 
  padding: 10px; width: 90px;
}

.search-container {
  position: relative;
  align-items: center;
  margin-left: auto;
  
}

.searchbar-input {
  padding: 10px;
  padding-right: 40px;
  font-size: 25px;
  height: 40px;
  flex-shrink: 0;
  border: 1px solid #FFF;
  background: rgba(28, 28, 28, 0.00);
}

.btn-search {
  position: absolute;
  height: 30px;
  right: .3rem;
  top: .3rem;
  border: none;
  background: url("../icons/magnifying-glass-color-white.png") no-repeat center center;
  width: 40px;
  border-radius: 0;
  background-size: contain;
}

/* .btn-add:hover{
  background-color: #1C1C1C;
} */

/* .btn-delete:hover{
  background-color: #3e3d3dcd;
}

.btn-search:hover{
  background-color: #31313156;
} */

.btn-search:active,
.btn-search:focus,
.btn-search:hover {
  box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.3);
}

.btn-add:active,
.btn-add:focus,
.btn-add:hover {
  box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.3);
}

.btn-delete:active,
.btn-delete:focus,
.btn-delete:hover, 
.btn-logout:active, 
.btn-logout:focus, 
.btn-logout:hover,
.btn-edit:active, 
.btn-edit:focus, 
.btn-edit:hover {
  box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.3);
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}

.button-container button {
  padding: 0;
}

.btn-add {
  height: 40px;
  width: 100px;
  margin-left: 1rem;
  margin-right: 1rem;
  flex-shrink: 0;
  border-left: 1px solid #ffffff;
  background: linear-gradient(180deg, rgba(160, 160, 160, 0.70) 3.31%, rgba(217, 217, 217, 0.00) 143.75%);
  font-size: 12px;
  border-radius: 0;
  /* margin-left: auto; */
  justify-content: center;
  align-items: center;
}
.btn-logout {
  height: 40px;
  width: 100px;
  flex-shrink: 0;
  border-left: 1px solid #FFF;
  background: #1C1C1C;
  font-size: 12px;
  border-radius: 0;
}


.btn-delete, .btn-edit {
  height: 40px;
  /* width: 10px; */
  flex-shrink: 0;
  border-left: 1px solid #FFF;
  
  background: #1C1C1C;
  font-size: 12px;
  border-radius: 0;
  /* box-shadow: 0px 0px 60.4px 49px rgba(66, 66, 66, 0.5); */
}


.header-bar {
  display: flex;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%; 
  height: 74px;
  flex-shrink: 0;
  border: 1px solid rgba(255, 255, 255, 0.50);
  background: radial-gradient(8079.51% 68.93% at 36.7% 38.53%, #040507 0%, rgba(44, 52, 58, 0.41) 100%);
  box-shadow: 0px 0px 45.8px 22px rgba(0, 0, 0, 0.25);
  align-items: center;
}

/* ---------- Contact box is now being styled below ----------- */

.contacts-container {
  color: #ffffff;
  position: absolute;
  right: 0;
  width: 70%;
  height: 70%;
  overflow: auto;
  margin-top: 4rem;
  margin-right: 1rem;
  margin-bottom: 3rem;

  border: 1px solid rgba(255, 255, 255, 0.50);
  background: radial-gradient(119.26% 84.25% at 97.19% 0%, rgba(44, 52, 58, 0.41) 0%, #040507 100%);
  box-shadow: 0px 0px 60.4px 49px rgba(0, 0, 0, 0.50);
}

.contacts-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 1rem 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.50);
}

#header-firstName {
  padding-left: 2.15rem;
  padding-right: 1rem;
}

#header-lastName {
  padding-left: 2.8rem;
  padding-right: 2rem;
  border-left: 1px solid rgba(255, 255, 255, 0.50);
}

#header-phoneNumber {
  padding-left: .5rem;
  padding-right: .6rem;
  border-left: 1px solid rgba(255, 255, 255, 0.50);
  border-right: 1px solid rgba(255, 255, 255, 0.50);
}

#header-email {
  padding-left: 6rem;
  padding-right: 6rem;
  
}

#header-edit {
  padding-right: .1rem;
  padding-left: 1.5rem;
  border-left: 1px solid rgba(255, 255, 255, 0.50);
}

#header-delete {
  padding-right: .5rem;
  padding-left: 1.1rem;
  border-left: 1px solid rgba(255, 255, 255, 0.50);
}


/* ---------- Contact box is now being styled below ----------- */
.contact-person {
  display: flex;
  justify-content:flex-start;
  align-items: center;
  padding: 1rem 1rem .5rem .5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.50);
  box-sizing: border-box;
}

h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#contact-firstName {
  width: 14%;
  padding-left: .1rem;
  padding-right: .1rem;
}

#contact-lastName {
  width: 16%;
  padding-left: .5rem;
  padding-right: .5rem;
  border-left: 2px solid rgba(255, 255, 255, 0.50);
}

#contact-phoneNumber {
  width: 18%;
  padding-left: .5rem;
  padding-right: .5rem;
  border-left: 2px solid rgba(255, 255, 255, 0.50);
  border-right: 2px solid rgba(255, 255, 255, 0.50);
}

#contact-email {
  width: 33%;
  padding-left: .5rem;
  padding-right: .5rem;
  border-right: 2px solid rgba(255, 255, 255, 0.50);
  
}

#contact-edit {
  width: 8%;
  margin-left: .5rem;
  padding-right: .5rem;
  padding-left: .5rem;
  margin-right: .5rem;
}

/* .edit-button::after {
  content: "";
  border-right: 1px solid #ffffff;  /* Adjust color as needed */
  /* height: 20%;
  position: absolute;
  
  width: 1px;
  top: 40%;  /* Adjust as needed to center vertically */



#contact-spacer {
  /* height: 30%;  */
  font-size: 22px;
  font-weight: 100;
  color:  rgba(255, 255, 255, 0.50);
}

#contact-delete {
  width: 8%;
  padding-right: .5rem;
  padding-left: .5rem;
  margin-left: .5rem;
}



