@font-face {
  font-family: "Nasalization";
  src: url("./fonts/nasalization-rg.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nasalization", sans-serif;
  color: white;
}
body {
  background-image: url("https://img.freepik.com/premium-photo/stars-galaxy-outer-space-sky-night-universe-black-starry-shiny-starfield_146539-1356.jpg");
  background-size: 42%;
}

thead {
  background: black;
}
#tr-filler {
  height: 100%;
}

th {
  font-size: large;
  border: 0;
  padding: 0.5rem;
}

td {
  width: 50%;
  padding: 0.5rem;
}

.nav-div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
.intro a {
  font-size: 40px;
  color: white;
}

button {
  background-color: rgba(0, 0, 0, 0.589);
  /* margin-left: 10px;  */
  border-radius: 5px;
  padding: 5px;
  width: 90px;
  transition: 0.2s;
}

.edit-btn {
  background-color: #6262635e;
  color: white;
  /* padding: 5px; */
  transition: 0.2s;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}

.edit-btn:active,
.edit-btn:focus,
.edit-btn:hover {
  /* background-color: #626263bb; */
  box-shadow: 0px 0px 13.8px 1px rgba(255, 255, 255, 0.3);
  text-decoration: underline;
}

.delete-btn {
  transition: 0.2s;
}

.delete-btn:active,
.delete-btn:focus,
.delete-btn:hover {
  /* background-color: rgba(0, 0, 0, 0.897); */
  box-shadow: 0px 0px 13.8px 1px rgba(255, 255, 255, 0.3);
  text-decoration: underline;
}

button:active,
button:focus,
button:hover {
  box-shadow: 0px 0px 13.8px 1px rgba(255, 255, 255, 0.3);
  text-decoration: underline;
}

.search-container {
  position: relative;
  align-items: center;
  margin-left: auto;
}

.searchbar-input {
  padding: 10px;
  padding-right: 40px;
  font-size: 15px;
  height: 40px;
  flex-shrink: 0;
  border: 1px solid #fff;
  background: rgba(28, 28, 28, 0);
}

.btn-search {
  position: absolute;
  height: 30px;
  right: 0.3rem;
  top: 0.3rem;
  border: none;
  background: url("../icons/magnifying-glass-color-white.png") no-repeat center
    center;
  width: 40px;
  border-radius: 0;
  background-size: contain;
}

/* .btn-add:hover{
  background-color: #1C1C1C;
} */

/* .btn-delete:hover{
  background-color: #3e3d3dcd;
}

.btn-search:hover{
  background-color: #31313156;
} */

.btn-search:active,
.btn-search:focus,
.btn-search:hover {
  box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.3);
}

.btn-add:active,
.btn-add:focus,
.btn-add:hover {
  box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.3);
}

.btn-delete:active,
.btn-delete:focus,
.btn-delete:hover,
.btn-logout:active,
.btn-logout:focus,
.btn-logout:hover,
.btn-edit:active,
.btn-edit:focus,
.btn-edit:hover {
  box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.3);
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}

.button-container button {
  padding: 0;
}

.btn-add {
  height: 40px;
  width: 100px;
  margin-left: 1rem;
  margin-right: 1rem;
  flex-shrink: 0;
  border-left: 1px solid #ffffff;
  background: linear-gradient(
    180deg,
    rgba(160, 160, 160, 0.7) 3.31%,
    rgba(217, 217, 217, 0) 143.75%
  );
  font-size: 12px;
  border-radius: 0;
  /* margin-left: auto; */
  justify-content: center;
  align-items: center;
}

.btn-logout {
  height: 40px;
  width: 100px;
  flex-shrink: 0;
  border-left: 1px solid #fff;
  background: #1c1c1c;
  font-size: 12px;
  border-radius: 0;
}

.btn-delete,
.btn-edit {
  height: 40px;
  width: 7%;
  flex-shrink: 0;
  border-left: 1px solid #fff;
  margin-left: 0.5rem;
  margin-right: 0.2rem;

  background: #1c1c1c;
  font-size: 12px;
  border-radius: 0;
  /* box-shadow: 0px 0px 60.4px 49px rgba(66, 66, 66, 0.5); */
}

.header-bar {
  display: flex;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  height: 74px;
  flex-shrink: 0;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: radial-gradient(
    8079.51% 68.93% at 36.7% 38.53%,
    #040507 0%,
    rgba(44, 52, 58, 0.41) 100%
  );
  box-shadow: 0px 0px 45.8px 22px rgba(0, 0, 0, 0.25);
  align-items: center;
}

/* ---------- Contact box is now being styled below ----------- */

.contacts-container {
  color: #ffffff;
  position: absolute;
  width: 70%;
  height: 70%;
  overflow: auto;
  margin-top: 4rem;
  margin-right: 1rem;
  margin-bottom: 3rem;

  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(19, 19, 19, 0.877);
  box-shadow: 0px 0px 45.8px 50px rgba(0, 0, 0, 0.6);
}

.contacts-header {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 1rem 0rem 1rem 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

#header-name {
  padding-left: 2.6rem;
  padding-right: 2.6rem;
}

#header-phoneNumber {
  padding-left: 1.65rem;
  padding-right: 1.65rem;
  border-left: 1.5px solid rgba(255, 255, 255, 0.5);
  border-right: 1.5px solid rgba(255, 255, 255, 0.5);
}

#header-email {
  padding-left: 9.35rem;
  padding-right: 9.35rem;
}

#header-edit {
  padding-right: 1.3rem;
  padding-left: 1.3rem;
  border-left: 1.5px solid rgba(255, 255, 255, 0.5);
}

#header-delete {
  /* padding-right: 1rem; */
  padding-left: 1rem;
  border-left: 1.5px solid rgba(255, 255, 255, 0.5);
}

/* ---------- Contact box is now being styled below ----------- */
.contact-person {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 1rem 0.5rem 0.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
}

h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#contact-name {
  width: 25%;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}

#contact-phoneNumber {
  width: 22%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  border-right: 2px solid rgba(255, 255, 255, 0.5);
}

#contact-email {
  width: 38%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-right: 2px solid rgba(255, 255, 255, 0.5);
}

#contact-edit {
  width: 8%;
  margin-left: 0.5rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  margin-right: 0.5rem;
}

/* .edit-button::after {
  content: "";
  border-right: 1px solid #ffffff;  /* Adjust color as needed */
/* height: 20%;
  position: absolute;
  
  width: 1px;
  top: 40%;  /* Adjust as needed to center vertically */

#contact-spacer {
  /* height: 30%;  */
  font-size: 22px;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.5);
}

#contact-delete {
  width: 8%;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
}
